%table.profile
  %tr
    %td.main
      %h2
        = gravatar_for @user
        = h @user.name
    %td.sidebar.round
      %strong Name
      = h @user.name
      %br
      %strong URL
      = link_to user_path(@user), @user
